h2 {
  background-color: #d3bcfd;
  padding: 10px;
  font-weight: 100;
}
#incrementBtn {
  background-color: #ebddff;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
#decrementBtn {
  background-color: #ebddff;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  border: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
#incrementTenBtn {
  background-color: #ebddff;
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  font-size: 15px;
}
#decrementTenBtn {
  background-color: #ebddff;
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  font-size: 15px;
}
